.header-banner-1 {
  height: 30px;
  background-color: red;
}

.logo {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 70px;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #b5b5b5;
  text-transform: uppercase;
}

.products-grid {
  padding: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.card {
  margin: 0 auto;
}