.header-banner-1 {
  height: 30px;
  background-color: red;
}

.logo {
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.products-grid {
  padding: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}