<div class="col-sm-4 text-center">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.pexels.com/photos/1100790/pexels-photo-1100790.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Striped Skirt</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div>
  </div>
</div>
<div class="col-sm-4 text-center">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.pexels.com/photos/404171/pexels-photo-404171.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pink tie</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div>
  </div>
</div>
<div class="col-sm-4 text-center">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.pexels.com/photos/1143793/pexels-photo-1143793.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tennis Whites</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div>
  </div>
</div>